@import '~antd/dist/antd.css';

.circle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  text-align: center;
  line-height: 30px;
  color: #ffffff;
}


.circle-lg {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
}


.inner-shadow {
  -moz-box-shadow:    inset 0 0 10px #00000056;
  -webkit-box-shadow: inset 0 0 10px #00000056;
  box-shadow:         inset 0 0 10px #00000056;
  box-shadow:         inset 0 0 10px #ffffff5e;
}

.arrow-shadow {
  -webkit-box-shadow: 1px 1px 1px 1px #00000056;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 1px 1px #00000056;  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 1px 1px #00000056;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}